.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  gap: 16px;
  min-height: 100vh;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
  border: 2px dashed #eaeaea;
  border-radius: 4px;
  transition: border 0.3s ease-in-out;
  cursor: pointer;
}


.gallery {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  height: 250px;
  width: 350px;
}
